<!DOCTYPE html>
<html>
<head>
  <title>Build output</title>
</head>

<body style="background: #002935; color: #7f9597; position: absolute; top: 0; left: 0;">

<pre style="background: #002935; color: #7f9597; font-size: 14px; white-space: pre-wrap; padding: 15px;">
<%= raw build.html_output %>
</pre>

</body>
</html>
